
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
<h2 class="jumbotron">Employee Register</h2>
</div>
</div>

</div>
<div class="md-form">
    <i class="fas fa-envelope prefix"></i>
    <input type="email" id="inputValidationEx" class="form-control validate">
    <label for="inputValidationEx" data-error="wrong" data-success="right">Type your email</label>
  </div>
<form [formGroup]="employeeForm">
  
  <div class="form-group">
    <label>Name</label>
    <input class="form-control"  type="text" formControlName="firstname" placeholder="First Name">
  </div>

  <div class="form-group">
      <label>Lastname</label>
      <input class="form-control" type="text"   formControlName="lastname" placeholder="lastame">
    </div>

    <div class="form-group">
      <label>Position</label>
      <input class="form-control" type="text"   formControlName="position" placeholder="Position">
    </div>

    <div class="form-group">
        <label>Office</label>
        <input class="form-control" type="text"  formControlName="office" placeholder="Office">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email"  formControlName="email" placeholder="email">
      </div>

      <div class="form-group">
          <label>Salary</label>
          <div class="input-group">
            <div class="input-group-addon">
                <i class="fas fa-dollar-sign"></i>
            </div>
              <input class="form-control" type="number"  formControlName="salary" placeholder="Salary">
          </div>
          <div class="form-group">
       <button class="btn default" type="submit" (click)="addEmployee()">Submit</button>  
       <button class="btn default" type="button" (click)="resetForm(employeeForm)">Reset</button>  
      </div>
        </div>
</form>