<!-- Material form login -->
 
<div class="container  ">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">

  
<div class="card form pink-skin">

    <h5 class="card-header info-color white-text text-center py-4">
      <strong>Sign in</strong>
    </h5>
  
    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
  
      <!-- Form -->
      <form [formGroup]= "formlogin" class="text-center" style="color: #757575; ">
  
        <!-- Email -->
        <div class="md-form">
          
        
          <input type="email" id="inputValidationEx" class="form-control validate" formControlName="email">
  <label for="inputValidationEx" data-error="wrong" data-success="right">Email</label>
          
        </div>
  
        <!-- Password -->
        <div class="md-form">
          <input type="password" id="materialLoginFormPassword" class="form-control" formControlName="password">
          <label for="materialLoginFormPassword">Password</label>
        </div>
  
        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
              <label class="form-check-label" for="materialLoginFormRemember">Remember me</label> 
            </div>
          </div>
          <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
          </div>
        </div>
  
        <!-- Sign in button -->
        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" (click)="loginSimple()">Sign in</button>
  
        <!-- Register -->
        <p>Not a member?
          <a href="">Register</a>
        </p>
  
        <!-- Social login -->
        <p>or sign in with:</p>
    
            
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> &nbsp;
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>&nbsp;
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            
        
      </form>
      <!-- Form -->
  
    </div>
  
  </div>
</div>
</div>
</div>
  <!-- Material form login -->

  